@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --primary-color: theme(colors.green.500); */
    --secondary-color: theme(colors.white);
    --hamburger-btn-color: theme(colors.black);
    --header-bg-large: theme(colors.green.600);
    --header-bg-small: theme(colors.white);
    --header-title-large: theme(colors.white);
    --header-title-small: theme(colors.green.700);
    --color-text-base: theme(colors.white);
    --color-text-primary: theme(colors.green.600);
    --color-text-active: theme(colors.white);
    --color-btn-primary: theme(colors.green.400);
    --bg-secondary: theme(colors.green.100);
    --color-btn-primary-hover: theme(colors.green.700);
  }
  .dark-theme {
    /* --primary-color: theme(colors.gray.500); */
    --secondary-color: theme(colors.green.500);
    --hamburger-btn-color: theme(colors.white);
    --header-bg-large: theme(colors.gray.950);
    --header-bg-small: theme(colors.gray.950);
    --bg-secondary: theme(colors.gray.500);
    --header-title-large: theme(colors.gray.100);
    --header-title-small: theme(colors.gray.200);
    --color-text-base: theme(colors.black);
    --color-text-primary: theme(colors.gray.950);
    --color-text-active: theme(colors.white);
    --color-btn-primary: theme(colors.gray.950);
    --color-btn-primary-hover: theme(colors.gray.100);
  }
}
