@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #399256;
    --secondary-color: #2ecc71;
    --background-color: #f1c40f;
    --text-color: #333;
    --text-color-secondary: #666;
    --color-text-base: #ffffff;
    --color-text-muted: #c7d2fe;
    --color-text-inverted: #4f46e5;
    --color-fill: #fff;
    --color-button-accent: #ffffff;
    --color-button-accent-hover: #eef2ff;
    --color-button-muted: 99, 102, 241;
  }
  .dark-theme {
    --primary-color: #ddd;
    --secondary-color: #2fcc71;
    --background-color: #1ac40f;
    --text-color: #444;
    --text-color-secondary: #666;
    --color-text-base: #eb0404;
    --color-text-muted: #c7d2fe;
    --color-text-inverted: #4f46e5;
    --color-fill: #0a0a0a;
    --color-button-accent: #ffffff;
    --color-button-accent-hover: #eef2ff;
    --color-button-muted: #6366f1;
  }
}
